*{
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 525;
    margin: auto;
}

body{
    background-color: #eee;
    margin: 10px
}

/*Navbar*/  
header{
    display:flex;
    align-items:center;
    justify-content : space-around;
    position: fixed;
    margin-top: 0;
    top: 0;
    background-color: rgba(224,225,226);
    width: 100%;
    gap: 700px;

   
}

#logo{
    width: 300px;

}
ul {
    text-align: center;
    display: flex;
  }

  li {
    font-size: 15px;
    margin: 0 10px;
    line-height: 60px;
    display: inline-block;
    text-decoration: none;
  }


/*Contact*/
form{
    display: grid;
    justify-content: center;
}
h1{
    margin-top: 300px;   
}
input{
    width: 220px;
    margin-bottom: 10px;
    padding: 10px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
}
:placeholder-shown{
    text-align: center;
}
form button{
    width: 220px;
    height: 40px;
    background-color: rgb(243, 205, 14);
    margin-left: auto;
    margin-right: auto;
    border: none;
    font-weight: 600;
    font-size: 20px;
    
}

/*FEATURES*/

.grid{
    display: grid;
    grid-template-columns: 60px 1fr;
    width: 700px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    gap: 20px  
}
img{
    width: 50px;
   
}
.icon{
    display: flex;
    

}
#Features{
    margin-top: 30px;
    display: grid;
}

.video{
    margin-top: 200px;
    display: grid;
    justify-content: center;
}


   
    
    

h2{
    margin-top: 0;
    margin-bottom: 0; 
}
p{
    margin-top: 0;
    margin-bottom: 0;
}
/*Pricing
article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1000px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    margin-bottom: 300px;
    gap: 20px;
    
}
.box{
    border: 1px solid rgb(134, 132, 132);
    width: 310px;
    margin: auto;
    text-align: center;
     
}
.box h2{
    background-color: rgb(179, 181, 181);
    
    padding:15px;
    font-size: 18px;  
}
.price{
    font-size: 22px;
    padding: 10px;
}
.description{
    line-height: 35px;
    padding-bottom: 15px;
}*/
article{
    display:flex;
    gap: 2 rem
}
article > *{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.box button{
    color:black;
    background-color: rgb(228, 205, 50);
    font-size: 18px;
    width: 100px;
    border: none;
    height: 50px;
    margin-bottom: 15px;
}

button:hover{
    background-color: rgb(217, 188, 21);
}

footer{
    background-color: #ddd;
    text-align: end;
    padding-right: 20px;
    padding-bottom: 10px;
    text-decoration-style: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;

}








/*.grid{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.icon{
    display: flex;
    align-items: center;
}
img{
    width: 50px;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}
#Features{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
*/
  

