
:root{
    --old-pink:#b98aad;
    --dark-old-pink:rgb(132, 98, 123);
    --light-gray: rgba(220, 218, 218, 0.868); 
    --complimentary-gold: #CABF72;

}
*{
   font-family: 'Poppins', sans-serif; 
   font-size: 18px;
   color: rgb(235, 235, 229);
   margin: 0;
   padding: 0;
}
a{
    text-decoration: none;
}
nav{
    background-color: rgb(132, 98, 123, .75);
    width: 100%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid lightgray;
    position: fixed;
     
}
.menu{
    display: flex;
    justify-content: end;
    align-items: center; 
    list-style-type: none;
    gap: 40px;
    padding-right: 10px;
    padding-top: 10px;
    
}
#checkbox_toggle{
    display: none;
    
}
.hamburger{
    display: none;
    
}
.nav-link:hover{
    background-color: var(--old-pink);
    border-radius: 10%;

}


     
.welcome{
    background-color: rgb(185, 138, 173);
    width: 100%;
    height: 650px;
    z-index: -1;
}
h1{
    text-align:center;
    padding-top: 75px;
    font-size: 50px;
    position:static;
    z-index: 1;
    
    
}
p{
    text-align: center;
    position: static;
    font-size: 25px;
    padding-bottom: 1rem;
    
}
.linkedin-photo{
    width: 300px;
    border: 3px #CABF72 solid;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 0
}

/*Projects*/

.projects{
    background-color: rgb(244, 243, 243);
    height: fit-content;
}
.subtext{
    color: #4c9e9e;
    font-size: 18px;
    font-style: italic;
}
h2{
    text-align: center;
    color: rgb(107, 106, 106);
    padding-top: 40px;
    font-size: 30px;
    font-weight: 200;
    
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
    place-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
    
}
.project-tile img{
    width: 100%;
    object-fit: cover;
  border-radius: 10px;
  border: 1px dashed lightgray;
  display:grid;
  justify-content: center;
  align-items: center;
}

img.project-tile{
    width: 330px;
    height: 250px;

}

/*About me*/
section.about-me{
    background-color: var(--old-pink);
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1px;
    padding-left: 20px;
    padding-right: 20px;
    height: fit-content;
}
.about-me h2{
    font-weight: 400;
    color: var(--light-gray);
    padding-bottom: 5px
}
img.me{
    width: 300px;
    height: 300px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30%; 
    margin-top: 50px;
    padding: 8px;
    top: 50px;
    border: 3px #CABF72 solid;
     
}

.about-text{
    text-align: center;
    width: 750px;
    line-height: 1.5;
}


/*Certs*/
#Certificates{
    height: fit-content;
    background-color: rgb(244, 243, 243);
    padding-bottom: 25px;
    display:grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.certs{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right:auto;
    gap: 10px

}
.certs-tile img{
    width: 330px;
    height: 250px;
    padding-bottom: 10px;
    
    
}

section.Contact{
    height: 400px;
    padding-top: 70px;
    background-color: var(--dark-old-pink)
    
}

.talk{
    color:#4c9e9e !important;
}
.social-icons-grid{
    display:flex;
    justify-content: center;
    align-items: center;
}
    

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1300px) {
    .certs{
        display:grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .certs-tile{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 800px) {
    .welcome{
        height:500px;
    }
    .gallery {
      grid-template-columns: 1fr 1fr;
    }
    h1{
        font-size: 30px;
    }
    p{
        font-size: 15px;
    }
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center; 
        list-style-type: none;
        gap: 20px;
        padding-right: 10px;
        padding-top: 10px;

    }
    .certs{
        display:grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .certs-tile{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section #About-me{
       text-align: center;
       width: 200px;
       height: 500px;    
    }
    
    img.me{
        width: 400px;
        height: 400px;
       
    }
    .about-text{
        font-size: 15px;
        width: fit-content;
        
       
    }
  }

  @media only screen and (max-width: 750px) {
    
    .gallery {
      grid-template-columns: 1fr ;
    }

    #About{
        height: fit-content;
    }
    .certs{
        display:grid;
        grid-template-columns: 1fr ;
        width: 100%;
        justify-content: center;
        align-items: center;
  }
    .about-text{
        font-size: 10px;
    }
    #my-girls{
        width: 200px;
        height: 200px;
    }
    .linkedin-photo{
        width: 200px;
        height: 200px; 
    }
    h2{
        font-size: 20px;
    }
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center; 
        list-style-type: none;
        gap: 10px;
        padding-right: 0;
        padding-top: 0;
        font-size: 10px;
    }
    input[type=checkbox] {
        display: none;
      } 
      
      /* HAMBURGER MENU */
      .hamburger {
        display: none;
        font-size: 24px;
        user-select: none;
      }
      
      /* APPLYING MEDIA QUERIES */
      @media (max-width: 768px) {
       .menu {
          display:none;
          position: absolute;
          background-color: rgb(132, 98, 123, .75);
          right: 0;
          left: 0;
          text-align: center;
          padding: 16px 0;
        }
      
        .menu li:hover {
          display: inline-block;
          background-color: var(--old-pink);
          transition: 0.3s ease;
        }
      
        .menu li + li {
          margin-top: 12px;
        }
      
        input[type=checkbox]:checked ~ .menu {
          display: block;
        }
      
        .hamburger {
          display: block;
        }
      
        .dropdown {
          left: 50%;
          top: 30px;
          transform: translateX(35%);
        }
      
        .dropdown li:hover {
          background-color: #4c9e9e;
        }
      }
}
   
  
